@use '../abstracts/mixins' as *;

.header {
  position: fixed;
  z-index: 100;
  left: 0;
  right: 0;
  top: 0;
  padding: 16rem 16rem;
  background-color: var(--white);
  box-shadow: 0 4rem 4rem 0 rgba(0, 0, 0, 0.05);

  @include vp-1280 {
    padding: 15rem 80rem;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15rem;
  }

  &__yandex {
    display: none;

    @include vp-1280 {
      display: block;
    }
  }

  &__logo {
    margin-right: 15rem;
    max-width: 80rem;
  }

  &__nav {
    display: none;
    color: var(--black);

    @include vp-1280 {
      display: block;
    }

    ul {
      display: flex;
      align-items: center;
      gap: 15rem;

      li {
        text-wrap: nowrap;

        a {
          border-bottom: 1rem solid transparent;
          transition: all 0.3s ease;
          &:hover {
            color: var(--primary);
            border-bottom: 1rem solid var(--primary);
          }
        }
      }
    }
  }

  &__adress {
    display: none;
    width: 240rem;
    color: var(--black);

    @include vp-1280 {
      display: block;
    }
  }

  &__contacts {
    display: none;
    align-items: center;
    gap: 30rem;
    text-wrap: nowrap;
    color: var(--black);

    @include vp-1280 {
      display: flex;
    }
  }

  &__contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    gap: 2rem;

    .button,
    a {
      transition: all 0.3s ease;
      &:hover {
        color: var(--primary);
      }
    }
  }

  &__call {
    color: var(--grey-600);
    border-bottom: 2rem solid var(--grey-600);
  }

  &__mobile {
    display: flex;
    align-items: center;
    gap: 20rem;

    @include vp-1280 {
      display: none;
    }
  }

  &__yandex-mob {
    width: 28rem;
    height: 28rem;
    min-width: 28rem;
    min-height: 28rem;
  }
}

.burger {
  position: relative;
  width: 22rem;
  height: 18rem;

  span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2rem;
    background-color: var(--black);
    transform-origin: center;
    transition: all 0.3s ease;
  }

  span:nth-child(1) {
    top: 0;
  }
  span:nth-child(2) {
    top: 8rem;
  }
  span:nth-child(3) {
    top: 16rem;
  }
}

.burger-list {
  z-index: 99;
  position: fixed;
  inset: 0;
  top: 55rem;
  background-color: rgba(21, 21, 21, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s ease;

  &__content {
    padding: 32rem 16rem;
    background-color: var(--white);
    transform: translateY(-100%);
    transition: transform 0.3s ease;
  }

  &__nav {
    margin-bottom: 20rem;
    ul {
      display: flex;
      flex-direction: column;
      gap: 12rem;
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 4rem;
    margin-bottom: 20rem;
  }

  &__adress {
    width: 250rem;
    margin-bottom: 24rem;
  }
}

body.menu-open {
  overflow: hidden;

  .burger-list {
    opacity: 1;
    pointer-events: auto;
  }

  .burger-list__content {
    transform: translateY(0);
  }

  .burger {
    span {
      &:nth-child(1) {
        top: 8rem;
        transform: rotate(45deg);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        top: 8rem;
        transform: rotate(-45deg);
      }
    }
  }
}
