@use '../abstracts/mixins' as *;

.modal {
  position: relative;
  z-index: 100;
  position: fixed;
  inset: 0;
  opacity: 0;
  pointer-events: none;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(21, 21, 21, 0.5);

  transition: all 0.3s ease;

  &.opened {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);

    .modal__block {
      transform: translateY(0);
      opacity: 1;
    }
  }

  &:not(.opened) .swiper-btn {
    pointer-events: none;
  }

  &__block {
    position: relative;
    background-color: var(--bg-2);
    padding: 32rem 24rem;
    max-width: 328rem;
    width: 100%;
    transform: translateY(100rem);
    transition: all 0.3s ease;

    @include vp-768 {
      max-width: 700rem;
      padding: 60rem;
    }
  }

  .h2 {
    color: var(--black);
  }

  .subtitle {
    color: var(--grey-600);
  }

  &__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 12rem;
    margin-bottom: 24rem;

    @include vp-768 {
      gap: 20rem;
      margin-bottom: 40rem;
    }
  }

  &__close {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    position: absolute;
    right: 8rem;
    top: 8rem;
    border: 1rem solid var(--grey-400);
    width: 18rem;
    height: 18rem;

    @include vp-768 {
      right: 20rem;
      top: 20rem;
      width: 40rem;
      height: 40rem;
    }

    &::before {
      width: 24rem;
      height: 24rem;
      color: currentColor;

      @include vp-768 {
        width: 32rem;
        height: 32rem;
      }
    }
  }
}
