@use '../abstracts/mixins' as *;

.pagination {
  display: inline-flex;
  align-items: center;
  gap: 20rem;

  &__numbers {
    display: flex;
    align-items: center;
    gap: 8rem;

    @include vp-768 {
      gap: 10rem;
    }
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32rem;
    height: 32rem;
    border: 1rem solid var(--grey-400);
    transition: all 0.3s ease;

    @include vp-768 {
      width: 50rem;
      height: 50rem;
    }

    &:hover {
      border: 1rem solid var(--primary);
    }
  }

  .swiper-btn {
    width: 32rem;
    height: 32rem;

    @include vp-768 {
      width: 50rem;
      height: 50rem;
    }
  }

  .current {
    background-color: var(--primary);
    color: var(--white);

    &:hover {
      background-color: var(--primary);
    }
  }
}
