<section class="form-block">
  <div class="container">
    <div class="section__left">
      <div class="section__top section__top--left">
        <h2 class="h2">Забронируйте лучшие места для идеального вечера в ресторане</h2>
      </div>
      <div class="section__middle">
        <div class="h4">Или просто позвоните</div>
        <a class="h4" href="tel:+79999999999">+7 (999) 999-99-99</a>
      </div>
    </div>
    <div class="section__right">
      <form class="form-block__form" action="" data-success-modal="success">
        <h3 class="h3">Оставьте заявку прямо сейчас</h3>
        <div class="form-block__inputs">
          <label class="input">
            <span>Имя</span>
            <input
              name="name"
              type="text"
              autocomplete="name"
              placeholder="Иван"
              minlength="2"
              maxlength="50"
              required
            />
          </label>
          <label class="input">
            <span>Номер телефона</span>
            <input
              name="phone"
              type="tel"
              inputmode="tel"
              autocomplete="tel"
              placeholder="+7 (000) 000-00-00"
              required
            />
          </label>
        </div>
        <div class="form-block__bottom">
          <label class="checkbox">
            <input type="checkbox" required />
            <span class="caption">
              Я согласен с <a href="/">политикой конфиденциальности</a> и даю согласие на обработку
              персональных данных.
            </span>
          </label>
          <button class="button button--primary button--arrow" type="submit">
            Забронировать стол
          </button>
        </div>
      </form>
      <div class="form-block__contacts">
        <div class="h4">Или просто позвоните</div>
        <a class="h4" href="tel:+79999999999">+7 (999) 999-99-99</a>
      </div>
    </div>
  </div>
</section>
