@use './variables' as *;

// adaptive screen

@mixin vp-768 {
  @media (min-width: $vp-768) {
    @content;
  }
}

@mixin vp-1280 {
  @media (min-width: $vp-1280) {
    @content;
  }
}

@mixin vp-1920 {
  @media (min-width: $vp-1920) {
    @content;
  }
}

// Mixin для всех шрифтов

@mixin h1 {
  font-family: var(--font-title);
  font-size: 28rem;
  font-style: normal;
  font-weight: 400;
  text-transform: default;
  line-height: 95%;

  @include vp-768 {
    font-size: 70rem;
  }
}

@mixin h2 {
  font-family: var(--font-title);
  font-size: 24rem;
  font-style: normal;
  font-weight: 500;
  text-transform: default;
  line-height: 110%;

  @include vp-768 {
    font-size: 52rem;
  }
}

@mixin h3 {
  font-family: var(--font-title);
  font-size: 20rem;
  font-style: normal;
  font-weight: 500;
  line-height: 115%;

  @include vp-768 {
    font-size: 32rem;
  }
}

@mixin h4 {
  font-family: var(--font-title);
  font-size: 18rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;

  @include vp-768 {
    font-size: 24rem;
  }
}

@mixin bodyTextReg {
  font-family: var(--font-body);
  font-size: 14rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;

  @include vp-768 {
    font-size: 18rem;
  }
}

@mixin bodyTextBold {
  font-family: var(--font-body);
  font-size: 14rem;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;

  @include vp-768 {
    font-size: 18rem;
  }
}

@mixin smallTextReg {
  font-family: var(--font-body);
  font-size: 12rem;
  font-style: normal;
  font-weight: 400;
  line-height: 145%;

  @include vp-768 {
    font-size: 16rem;
  }
}

@mixin smallTextMed {
  font-family: var(--font-body);
  font-size: 12rem;
  font-style: normal;
  font-weight: 500;
  line-height: 145%;

  @include vp-768 {
    font-size: 16rem;
  }
}

@mixin caption {
  font-family: var(--font-body);
  font-size: 10rem;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;

  @include vp-768 {
    font-size: 16rem;
  }
}
