<a href="pages/single-blog.html" class="blog__item">
  <div class="blog__top">
    <div class="blog__img">
      <img src="/images/blog/blog.webp" alt="Стол с экзотической едой" loading="lazy" />
    </div>
    <div class="button button--trans button--arrow">Читать статью</div>
  </div>
  <div class="blog__bottom">
    <div class="blog__info">
      <div class="blog__icon icon icon--calendar">05.09.2025</div>
      <div class="blog__icon icon icon--clock">5 мин</div>
      <div class="blog__icon icon icon--view">75</div>
    </div>
    <div class="blog__content">
      <h4 class="h4">Современная паназиатская кухня: традиции, которые вдохновляют</h4>
      <p class="blog__text">
        Паназиатская кухня — это гармоничное сочетание культур, техник и вкусов разных стран
        Восточной Азии. Сегодня она переживает новую волну популярности, объединяя древние традиции
        с авторским подходом и современными гастрономическими тенденциями.
      </p>
    </div>
  </div>
</a>
