<div class="contact-buttons">
  <ul class="contact-buttons__list">
    <li class="contact-buttons__item" style="--i: 5">
      <a
        class="contact-buttons__btn icon icon--rutube"
        href="#"
        aria-label="VK"
        target="_blank"
        rel="noindex nofollow"
      ></a>
    </li>
    <li class="contact-buttons__item" style="--i: 4">
      <a
        class="contact-buttons__btn icon icon--classmates"
        href="#"
        aria-label="Telegram"
        target="_blank"
        rel="noindex nofollow"
      ></a>
    </li>
    <li class="contact-buttons__item" style="--i: 3">
      <a
        class="contact-buttons__btn icon icon--max"
        href="#"
        aria-label="WhatsApp"
        target="_blank"
        rel="noindex nofollow"
      ></a>
    </li>
    <li class="contact-buttons__item" style="--i: 2">
      <a
        class="contact-buttons__btn icon icon--vk"
        href="#"
        aria-label="OK"
        target="_blank"
        rel="noindex nofollow"
      ></a>
    </li>
    <li class="contact-buttons__item" style="--i: 1">
      <a
        class="contact-buttons__btn icon icon--telegram"
        href="#"
        aria-label="Отзывы"
        target="_blank"
        rel="noindex nofollow"
      ></a>
    </li>
  </ul>

  <button
    class="contact-buttons__toggle icon icon--phone"
    type="button"
    aria-expanded="false"
    aria-controls="contact-menu"
  ></button>
</div>
