<footer class="footer">
  <div class="container">
    <div class="footer__top">
      <div class="footer__left">
        <div class="footer__title">
          <h2 class="h2">Забронируйте столик, создайте свой идеальный вечер</h2>
          <button
            class="button button--primary button--arrow"
            data-modal-id="table"
            data-subject="Забронировать стол (футер)"
          >
            Забронировать стол
          </button>
        </div>
        <a href="../" class="footer__logo"
          ><img src="/images/logos/logo-white.svg" alt="Bonsai"
        /></a>
      </div>
      <div class="footer__right">
        <div class="footer__navigation">
          <div>
            <div class="footer__label">Навигация:</div>
            <nav class="footer__nav">
              <ul>
                <li><a href="./#about">О ресторане</a></li>
                <li><a href="./#special">Спецпредложения</a></li>
                <li><a href="./#menu">Меню</a></li>
                <li><a href="./#blog">Блог</a></li>
                <li><a href="./#photo">Галерея</a></li>
                <li><a href="./#contacts">Контакты</a></li>
                <li><a href="./#reviews">Отзывы</a></li>
              </ul>
            </nav>
          </div>
          <div class="footer__panels">
            <a href="/" class="footer__panel" target="_blank" rel="noindex nofollow">
              <div class="footer__logos"><img src="/images/logos/gis.svg" alt="2gis" /></div>
              <div class="footer__rating icon icon--star icon--after body-text-bold">4.9</div>
            </a>
            <a href="/" class="footer__panel" target="_blank" rel="noindex nofollow">
              <div class="footer__logos"><img src="/images/logos/yandex.svg" alt="Yandex" /></div>
              <div class="footer__rating icon icon--star icon--after body-text-bold">4.9</div>
            </a>
          </div>
        </div>
        <div class="footer__contacts">
          <div class="footer__contact">
            <div class="footer__label">Телефон:</div>
            <a href="" target="_blank" rel="noindex nofollow">+7 (999) 999–99–99</a>
          </div>
          <div class="footer__contact">
            <div class="footer__label">Почта:</div>
            <a href="" target="_blank" rel="noindex nofollow">email@gamil.com</a>
          </div>
          <div class="footer__contact">
            <div class="footer__label">Адрес:</div>
            <div>г. Москва, улица Коммунистическая имени В. И. Ленина, д. 142</div>
          </div>
          <div class="footer__contact">
            <div class="footer__label">Соцсети:</div>
            <div class="footer__links">
              <a
                target="_blank"
                rel="noindex nofollow"
                href="/"
                class="footer__link icon icon--telegram"
              ></a>
              <a
                target="_blank"
                rel="noindex nofollow"
                href="/"
                class="footer__link icon icon--vk"
              ></a>
              <a
                target="_blank"
                rel="noindex nofollow"
                href="/"
                class="footer__link icon icon--max"
              ></a>
              <a
                target="_blank"
                rel="noindex nofollow"
                href="/"
                class="footer__link icon icon--classmates"
              ></a>
              <a
                target="_blank"
                rel="noindex nofollow"
                href="/"
                class="footer__link icon icon--rutube"
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer__bottom">
      <div class="footer__bottom-link caption">
        <a target="_blank" rel="noindex nofollow" href="/">Политика конфиденциальности</a>
      </div>
      <div class="footer__bottom-link caption">
        <div>© 2026, ООО «Ресторан». Все права защищены.</div>
      </div>
      <div class="footer__bottom-link caption">
        <a href="https://victoryagency.ru/" target="_blank">Сайт разработан VICTORY group</a>
      </div>
    </div>
  </div>
</footer>
