<header class="header">
  <div class="container">
    <a class="header__logo" href="../"><img src="/images/logos/logo.svg" alt="bonsai" /></a>
    <nav class="header__nav small-text-reg">
      <ul>
        <li><a href="./#menu">Меню</a></li>
        <li><a href="./#about">О ресторане</a></li>
        <li><a href="./#actions">Мероприятия</a></li>
        <li><a href="./#photo">Галерея</a></li>
        <li><a href="./#reviews">Отзывы</a></li>
        <li><a href="./#special">Спецпредложения</a></li>
        <li><a href="./#blog">Блог</a></li>
        <li><a href="./#contacts">Контакты</a></li>
      </ul>
    </nav>
    <div class="header__adress caption">
      г. Москва, улица Коммунистическая имени В. И. Ленина, д. 142
    </div>
    <a class="header__yandex" href="/" target="_blank" rel="noindex nofollow"
      ><img src="/images/logos/yandex-go.svg" alt="Яндекс Такси"
    /></a>
    <div class="header__contacts">
      <div class="header__contact">
        <a class="small-text-reg" href="tel:+79999999999" target="_blank" rel="noindex nofollow"
          >+7 999 999-99-99</a
        >
        <button
          class="header__call caption"
          data-modal-id="call"
          data-subject="Заказать звонок (хедер)"
        >
          Заказать звонок
        </button>
      </div>
      <button
        class="button button--secondary button--arrow"
        data-modal-id="table"
        data-subject="Забронировать стол (хедер)"
      >
        Забронировать стол
      </button>
    </div>
    <div class="header__mobile">
      <a class="header__yandex-mob" href="/" target="_blank" rel="noindex nofollow"
        ><img src="/images/logos/yandex-go-mob.svg" alt="Телефон"
      /></a>
      <a
        href="tel:+79999999999"
        class="icon icon--phone"
        target="_blank"
        rel="noindex nofollow"
      ></a>
      <button class="burger">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
  </div>
</header>

<div class="burger-list" id="burger-menu" aria-hidden="true" inert>
  <div class="burger-list__content">
    <div class="container">
      <nav class="burger-list__nav">
        <ul>
          <li><a href="./#menu">Меню</a></li>
          <li><a href="./#about">О ресторане</a></li>
          <li><a href="./#actions">Мероприятия</a></li>
          <li><a href="./#photo">Галерея</a></li>
          <li><a href="./#reviews">Отзывы</a></li>
          <li><a href="./#special">Спецпредложения</a></li>
          <li><a href="./#blog">Блог</a></li>
          <li><a href="./#contacts">Контакты</a></li>
        </ul>
      </nav>
      <div class="burger-list__contacts">
        <a class="h4" href="tel:+79999999999" target="_blank" rel="noindex nofollow"
          >+7 999 999-99-99</a
        >
        <button
          class="header__call"
          data-modal-id="call"
          data-subject="Заказать звонок (бургер-меню)"
        >
          Заказать звонок
        </button>
      </div>
      <div class="burger-list__adress">
        г. Москва, улица Коммунистическая имени В. И. Ленина, д. 142
      </div>
      <div>
        <button
          class="button button--primary button--arrow"
          data-modal-id="table"
          data-subject="Забронировать стол (бургер-меню)"
        >
          Забронировать стол
        </button>
      </div>
    </div>
  </div>
</div>
