<div class="modal modal-vacanci" data-modal="vacanci">
  <div class="modal__block">
    <button class="modal__close icon icon--x" data-modal-close="vacanci"></button>
    <div class="modal__top">
      <h2 class="h2">Официант</h2>
    </div>
    <div class="modal__middle">
      <div class="modal-vacanci__info">
        <p>
          Мы ищем энергичного и дружелюбного официанта в нашу команду! Если ты любишь общение
          с людьми, умеешь работать в команде и хочешь развиваться в сфере гостеприимства — будем
          рады видеть тебя у нас.
        </p>
        <h4>Обязанности:</h4>
        <ul>
          <li>Обслуживание гостей в зале (приём заказов, подача блюд и напитков)</li>
          <li>Консультирование гостей по меню и рекомендация блюд</li>
          <li>Поддержание чистоты и порядка на рабочем месте</li>
          <li>Работа с кассой и расчёт гостей</li>
        </ul>
        <h4>Обязанности:</h4>
        <ul>
          <li>Обслуживание гостей в зале (приём заказов, подача блюд и напитков)</li>
          <li>Консультирование гостей по меню и рекомендация блюд</li>
          <li>Поддержание чистоты и порядка на рабочем месте</li>
          <li>Работа с кассой и расчёт гостей</li>
        </ul>
        <h4>Обязанности:</h4>
        <ul>
          <li>Обслуживание гостей в зале (приём заказов, подача блюд и напитков)</li>
          <li>Консультирование гостей по меню и рекомендация блюд</li>
          <li>Поддержание чистоты и порядка на рабочем месте</li>
          <li>Работа с кассой и расчёт гостей</li>
        </ul>
      </div>

      <form
        class="modal-vacanci__form"
        action=""
        data-success-modal="modal-vacanci-success"
        data-close-modal="vacanci"
      >
        <input type="hidden" name="subject" value="" />
        <h3 class="h3">Откликнуться</h3>
        <div class="modal-vacanci__inputs">
          <label class="input">
            <span>Имя</span>
            <input
              type="text"
              placeholder="Иван"
              name="name"
              type="text"
              autocomplete="name"
              placeholder="Иван"
              minlength="2"
              maxlength="50"
              required
            />
          </label>
          <label class="input">
            <span>Номер телефона</span>
            <input
              name="phone"
              type="tel"
              inputmode="tel"
              autocomplete="tel"
              placeholder="+7 (000) 000-00-00"
              required
            />
          </label>
          <button type="submit" class="button button--primary button--arrow">Отправить</button>
          <label class="checkbox">
            <input type="checkbox" required />
            <span class="caption">
              Я согласен с <a href="/">политикой конфиденциальности</a> и даю согласие на обработку
              персональных данных.
            </span>
          </label>
        </div>
      </form>
    </div>
  </div>
</div>
