<div class="modal modal-review" data-modal="review">
  <button class="modal__close icon icon--x" data-modal-close="review"></button>
  <div class="modal__block">
    <div class="review__item">
      <div class="review__header">
        <div class="review__avatar">
          <img src="/images/review/avatar.jpg" alt="" />
        </div>
        <div class="review__avtor">
          <div class="review__name">Александра</div>
          <div class="review__stars">
            <div class="review__star icon icon--star"></div>
            <div class="review__star icon icon--star"></div>
            <div class="review__star icon icon--star"></div>
            <div class="review__star icon icon--star"></div>
            <div class="review__star icon icon--star"></div>
          </div>
        </div>
        <div class="review__date small-text-reg">16.01.2026</div>
      </div>
      <div class="review__description">
        <div class="review__text">
          Это был один из самых незабываемых ужинов! Атмосфера ресторана просто волшебная: мягкий
          свет, уютные уголки и внимательное обслуживание создают особое настроение. Блюда —
          настоящие произведения искусства, каждый ингредиент подобран с любовью и вниманием к
          деталям. Мы с друзьями пробовали несколько позиций из меню, и все были в восторге.
          Особенно понравился авторский коктейль, который идеально дополнил нашу трапезу. Сервис был
          на высшем уровне, чувствуется, что здесь действительно ценят каждого гостя. Обязательно
          вернёмся и порекомендуем этот ресторан всем своим друзьям!
        </div>
      </div>
    </div>
  </div>
</div>
