@use '../../abstracts/mixins' as *;

.contacts {
  .container {
    display: flex;
    flex-direction: column;
    gap: 20rem;

    @include vp-1280 {
      flex-direction: row;
    }
  }

  .section__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;

    @include vp-1280 {
      width: 45%;
    }
  }

  .section__right {
    display: flex;
    flex-direction: column;
    gap: 20rem;
    width: 100%;

    @include vp-1280 {
      width: 55%;
      gap: 40rem;
    }
  }

  &__grid-info {
    width: 100%;
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 20rem !important;

    @include vp-1280 {
      width: 82%;
    }
  }

  .section__middle {
    display: none;
    flex-direction: column;
    gap: 12rem;

    @include vp-1280 {
      display: flex;
      gap: 30rem;
    }

    &--mob {
      display: flex;
      @include vp-1280 {
        display: none;
      }
    }

    .grid {
      width: 100%;
      gap: 8rem;

      @include vp-1280 {
        width: 70%;
      }
    }
  }

  .subtitle {
    width: 100%;

    @include vp-1280 {
      width: 573rem;
    }
  }

  &__text {
    color: var(--grey-600);
    width: 365rem;
  }

  &__panel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15rem 20rem;
    border: 1rem solid var(--primary);
    transition: all 0.3s ease;

    &:hover {
      background-color: var(--bg-2);
    }
  }

  &__logo {
    max-width: 150rem;

    img {
      width: 100%;
      object-fit: contain;
    }
  }

  &__rating {
    display: flex;
    align-items: center;
    gap: 5rem;

    &::after {
      color: rgba(255, 204, 23, 1);
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 8rem;

    @include vp-1280 {
      gap: 15rem;
    }
  }

  &__label {
    color: var(--grey-600);
  }

  &__text {
    width: 100%;
    color: var(--black);

    a {
      transition: all 0.3s ease;
      &:hover {
        color: var(--primary);
      }
    }

    @include vp-1280 {
      width: 314rem;
    }
  }

  &__map {
    width: 100%;
    height: 400rem;

    @include vp-1280 {
      height: 450rem;
    }

    iframe {
      width: 100%;
      height: 100%;
    }
  }

  &__contacts {
    display: flex;
    align-items: center;
    gap: 10rem;
  }

  &__buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8rem;

    @include vp-1280 {
      flex-direction: row;
      gap: 10rem;
    }

    .button--primary {
      &::before {
        content: '';
        display: block;
        width: 24rem;
        height: 24rem;
        background: url('../../../../public/images/logos/yandex-go-mob.svg') no-repeat;
        background-size: contain;
      }
    }
  }

  &__grid-links {
    grid-template-columns: 1fr;
    gap: 24rem !important;
  }

  &__links {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    gap: 15rem;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32rem;
    height: 32rem;
    background-color: var(--grey-400);
    color: var(--white);

    &::before {
      width: 16rem;
      height: 16rem;

      @include vp-1280 {
        width: 24rem;
        height: 24rem;
      }
    }

    @include vp-1280 {
      width: 50rem;
      height: 50rem;
    }
  }
}
