@use '../../abstracts/mixins' as *;

.form-block {
  padding: 32rem 8rem;
  @include vp-1280 {
    padding: 60rem 20rem;
  }

  .container {
    padding: 40rem 20rem;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: url('../../../../public/images/form/form.webp') no-repeat center;
    background-size: cover;
    color: var(--white);
    gap: 32rem;

    @include vp-768 {
      align-items: center;
    }

    @include vp-1280 {
      padding: 80rem 60rem;
      flex-direction: row;
      gap: 0;
    }

    &::before {
      content: '';
      z-index: 1;
      position: absolute;
      inset: 0;
      background-color: rgba(0, 0, 0, 0.35);
      backdrop-filter: blur(2rem);
    }

    > * {
      position: relative;
      z-index: 2;
    }

    .h2 {
      width: 100%;
      color: var(--white);

      @include vp-1280 {
        width: 900rem;
      }
    }
  }

  .section__left {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include vp-768 {
      align-items: center;
      max-width: 820rem;
    }

    @include vp-1280 {
      align-items: start;
      width: 50%;
      min-height: 500rem;
    }
  }

  .section__right {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 40rem;

    @include vp-768 {
      align-items: center;
    }

    @include vp-1280 {
      width: 50%;
      align-items: end;
    }
  }

  .section__top {
    margin: 0;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    gap: 4rem;

    @include vp-1280 {
      display: none;
    }
  }

  .section__middle {
    display: none;
    @include vp-1280 {
      display: flex;
      flex-direction: column;
      gap: 4rem;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 12rem;
    max-width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(40rem);
    padding: 14rem 16rem;

    @include vp-1280 {
      max-width: 560rem;
      padding: 40rem;
      gap: 30rem;
    }
  }

  &__inputs {
    display: flex;
    flex-direction: column;
    gap: 12rem;

    @include vp-1280 {
      gap: 15rem;
    }
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    gap: 12rem;

    @include vp-1280 {
      gap: 15rem;
    }
  }

  .input {
    label {
      color: var(--white);
    }
  }

  .checkbox {
    span {
      color: var(--white);
    }
  }
}
