@use './intro';
@use './reels';
@use './menu';
@use './about';
@use './actions';
@use './party';
@use './photo';
@use './review';
@use './stocks';
@use './blog';
@use './team';
@use './contacts';
@use './form-block';
