@use '../../abstracts/mixins' as *;

.intro {
  padding-inline: 8rem;
  padding-bottom: 8rem;
  height: 690rem;

  @include vp-768 {
    padding-inline: 20rem;
    padding-bottom: 20rem;
    height: 856rem;
  }

  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background: url('../../../../public/images/intro/intro-bg.webp') no-repeat center;
    background-size: cover;
    color: var(--white);
    padding: 40rem 16rem 20rem 16rem;

    @include vp-768 {
      justify-content: center;
      padding: 0rem;
    }

    &::before {
      content: '';
      z-index: 1;
      position: absolute;
      inset: 0;
      background-color: rgba(0, 0, 0, 0.25);
      backdrop-filter: blur(2rem);
    }

    > * {
      position: relative;
      z-index: 2;
    }
  }

  &__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12rem;
    margin-bottom: 40rem;

    @include vp-768 {
      gap: 20rem;
    }
  }

  &__geo {
    display: flex;
    gap: 20rem;
    padding: 11rem 20rem;
    background-color: var(--white-10);
  }

  &__rating {
    display: flex;
    align-items: center;
    gap: 5rem;

    &::after {
      color: #ffcc00;
      width: 16rem;
      height: 16rem;
    }
  }

  &__title {
    width: 312rem;
    text-align: center;

    @include vp-768 {
      width: 850rem;
    }
  }

  &__subtitle {
    width: 280rem;
    text-align: center;

    @include vp-768 {
      width: 635rem;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8rem;
    width: 100%;

    @include vp-768 {
      flex-direction: row;
      gap: 20rem;
      width: auto;
    }
  }
}
