@use '../../abstracts/mixins' as *;

.party {
  background-color: var(--bg-2);

  h2 {
    width: 100%;

    @include vp-1280 {
      width: 860rem;
    }
  }

  .subtitle {
    width: 100%;

    @include vp-1280 {
      width: 561rem;
    }
  }

  .swiper {
    overflow: visible;
  }

  .swiper-buttons {
    display: none;
    top: 50%;
    transform: translateY(-50%);

    @include vp-1280 {
      display: flex;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    @include vp-1280 {
      flex-direction: row;
    }
  }

  &__img {
    width: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20rem;
    background-color: var(--white);
    height: auto;

    @include vp-1280 {
      height: 530rem;
      padding: 30rem;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12rem;

    @include vp-1280 {
      margin-bottom: 20rem;
    }
  }

  &__date {
    display: flex;
    align-items: center;
    gap: 10rem;

    &::before {
      color: var(--primary);
    }
  }

  &__title {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin-bottom: 16rem;

    @include vp-1280 {
      gap: 10rem;
    }
  }

  h3 {
    color: var(--black);
  }

  &__text {
    color: var(--grey-600);
  }

  .button {
    margin-top: auto;
  }
}
