@use '../../abstracts/mixins' as *;

.photo {
  .h2 {
    width: 100%;

    @include vp-1280 {
      width: 860rem;
    }
  }

  .subtitle {
    width: 100%;

    @include vp-1280 {
      width: 561rem;
    }
  }

  .swiper {
    overflow: visible;
    perspective: 1400rem;
  }

  .swiper-wrapper {
    transform-style: preserve-3d;
  }

  .swiper-slide {
    aspect-ratio: 16 / 9;
    height: auto;
  }

  .swiper-buttons {
    display: none;
    top: 50%;
    transform: translateY(-50%);

    @include vp-1280 {
      display: flex;
    }
  }

  &__img {
    height: 100%;
    width: 100%;
    overflow: hidden;
    user-select: none;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
