@use '../../abstracts/mixins' as *;

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 12rem 30rem;
  @include smallTextMed;
  text-wrap: nowrap;

  @include vp-768 {
    padding: 14rem 40rem;
    width: auto;
  }

  &--trans {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(44rem);
    color: var(--white);
  }

  &--ghost {
    background-color: transparent;
    transition: all 0.3s ease;
    color: var(--primary);
    padding: 0;
  }

  &--primary {
    background-color: var(--primary);
    color: var(--white);
    transition: all 0.3s ease;
  }

  &--secondary {
    background-color: var(--white);
    border: 1.5rem solid var(--grey-400);
    color: var(--primary);
    transition: all 0.3s ease;
  }

  &--arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;

    &:hover {
      &::after {
        transform: translateX(10rem);
      }
    }

    &::after {
      content: '';
      right: 40rem;
      width: 20rem;
      height: 20rem;
      background: currentColor;
      -webkit-mask: url('/images/icons/arrow.svg') no-repeat center / contain;
      mask: url('/images/icons/arrow.svg') no-repeat center / contain;
      transition: transform 0.25s ease;
      will-change: transform;

      @include vp-768 {
        width: 24rem;
        height: 24rem;
      }
    }
  }
}

.swiper-buttons {
  pointer-events: none;
  z-index: 10;
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;

  button {
    &:nth-of-type(1) {
      margin-left: -25rem;
    }

    &:nth-of-type(2) {
      margin-right: -25rem;
    }
  }
}

.swiper-btn {
  z-index: 5;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50rem;
  height: 50rem;
  border: 1rem solid var(--primary);
  background-color: var(--white);
  color: var(--primary);
  transition: all 0.3s ease;
  pointer-events: auto;

  &::after {
    content: '';
    display: block;
    -webkit-mask-image: url('/images/icons/arrow.svg');
    mask-image: url('/images/icons/arrow.svg');
    background-color: currentColor;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-size: contain;
    mask-size: contain;

    width: 24rem;
    height: 24rem;
  }

  &:hover {
    background-color: var(--primary);
    color: var(--grey-200);
    border: transparent;
  }

  &:active {
    background-color: var(--primary);
    color: var(--grey-200);
    border: transparent;
  }

  &:focus {
    background-color: var(--primary);
    color: var(--grey-200);
    border: transparent;
  }

  &:disabled {
    background-color: var(--white);
    border: 1rem solid var(--grey-200);
    color: var(--grey-200);
  }

  &--left {
    transform: rotate(180deg);
  }
}

.swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;

  .swiper-pagination-bullet {
    background-color: var(--black-50);
    width: 6rem;
    height: 6rem;
    &-active {
      background-color: var(--white);
      width: 12rem;
      height: 12rem;
    }
  }
}
