@use '../../abstracts/mixins' as *;

.checkbox {
  display: flex;
  align-items: flex-start;
  gap: 10rem;
  cursor: pointer;

  input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }

  span {
    position: relative;
    padding-left: 26rem;
    color: var(--black);

    @include vp-768 {
      padding-left: 34rem;
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 2rem;
      width: 20rem;
      height: 20rem;
      border: 1rem solid var(--grey-400);
      background: var(--white);

      @include vp-768 {
        width: 24rem;
        height: 24rem;
      }
    }
  }

  input:checked + span::before {
    background: var(--primary);
    border-color: var(--primary);
    box-shadow: inset 0 0 0 4rem var(--white);
  }

  a {
    text-decoration: underline;
  }
}
