@use '../../abstracts/mixins' as *;

.error-page {
  &__img {
    width: 280rem;
    margin-bottom: 32rem;

    @include vp-768 {
      width: 600rem;
      margin-bottom: 50rem;
    }

    img {
      width: 100%;
      object-fit: contain;
    }
  }

  .h2 {
    text-align: center;
    margin-bottom: 12rem;
    @include vp-768 {
      margin-bottom: 20rem;
    }
  }

  &__text {
    text-align: center;
    margin-bottom: 32rem;
    width: 100%;

    @include vp-768 {
      width: 612rem;
      margin-bottom: 40rem;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
