@use '../../abstracts/mixins' as *;

.single-page {
  .container-single {
    width: 328rem;
    padding: 0;

    @include vp-768 {
      width: 100%;
      padding: 0 80rem;

      .breadcrumbs {
        margin: 0;
      }
    }

    @include vp-1280 {
      width: 1200rem;
      padding: 0;
    }
  }

  .h1 {
    margin-bottom: 0rem;

    @include vp-768 {
      margin-bottom: 50rem;
    }

    @include vp-1280 {
      margin-bottom: 30rem;
    }
  }

  &__panel {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    padding: 16rem;
    border: 1rem solid var(--grey-400);
    margin-bottom: 24rem;
    gap: 16rem;

    @include vp-768 {
      flex-direction: row;
      align-items: center;
      gap: 0;
      padding: 30rem 40rem;
      margin-bottom: 60rem;
    }
  }

  &__banner {
    width: 100%;
    height: 185rem;
    object-fit: cover;
    margin-bottom: 24rem;
    margin-top: 24rem;
    margin-inline: auto;

    img {
      width: 100%;
      object-fit: cover;
    }

    @include vp-768 {
      height: 650rem;
      margin-bottom: 60rem;
      margin-top: 40rem;
    }
  }

  .grid--2 {
    gap: 8rem;

    @include vp-768 {
      gap: 20rem 30rem;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 5rem;
    &::before {
      color: var(--primary);
    }
  }

  &__links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    gap: 0;

    @include vp-768 {
      align-items: end;
      flex-direction: column;
      gap: 20rem;
      width: 50%;
    }

    @include vp-1280 {
      flex-direction: row;
      gap: 20rem;
      width: auto;
    }

    ul {
      display: flex;
      align-items: center;
      gap: 8rem;

      @include vp-768 {
        gap: 19rem;
      }

      li {
        display: flex;
        align-items: center;
        justify-content: center;

        a {
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          width: 24rem;
          height: 24rem;

          @include vp-768 {
            width: 40rem;
            height: 40rem;
          }
        }
      }
    }
  }

  &__content {
    h2 {
      @include h2;
      margin-bottom: 25rem;

      @include vp-768 {
        margin-bottom: 40rem;
      }

      @include vp-1280 {
        margin-bottom: 25rem;
      }
    }

    img {
      width: 100%;
      object-fit: cover;
      margin-bottom: 24rem;
      margin-top: 24rem;

      @include vp-768 {
        margin-bottom: 60rem;
        margin-top: 40rem;
      }
    }

    p {
      margin-bottom: 8rem;

      @include vp-768 {
        margin-bottom: 10rem;
      }
    }

    h3 {
      @include h3;
      margin-top: 24rem;
      margin-bottom: 12rem;

      @include vp-768 {
        margin-top: 40rem;
        margin-bottom: 32rem;
      }

      @include vp-1280 {
        margin-top: 40rem;
        margin-bottom: 20rem;
      }
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 4rem;

      @include vp-768 {
        gap: 10rem;
      }

      li {
        display: flex;
        align-items: center;
        gap: 5rem;

        @include vp-768 {
          gap: 15rem;
        }

        &::before {
          content: '';
          display: block;
          width: 5rem;
          height: 5rem;
          background-color: var(--primary);
          color: var(--primary);

          @include vp-768 {
            width: 7rem;
            height: 7rem;
          }
        }
      }
    }

    ol {
      display: flex;
      flex-direction: column;
      gap: 4rem;
      padding-left: 15rem;

      @include vp-768 {
        gap: 10rem;
        padding-left: 25rem;
      }
    }
  }

  .blog {
    background-color: var(--grey-25);
  }
}
